
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

 * {
   font-family: 'Open Sans', Helvetica;
 }

.App {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  transition: background-color 1s ease;
}

.nav {
  width: 100%;
  padding-top: 10px; 
}

.nav ul {
  list-style: none !important;
  text-align: right;
}

.nav ul li {
  display: inline;
  font-size: 20px;
}


.snap {
  scroll-snap-align:start;
  
}

.Section_1 {
  height: 100vh;
  background-color: aliceblue;
  display: grid;
  grid-template-rows: 50% 50%;
}

/* project section */
.Section_2 {
height: 150vh;
background-color: rgb(19, 18, 18);
display: grid;
grid-template-columns: auto auto auto !important;
grid-gap: 10px !important;
padding: 10px;
}

@media screen and (max-width: 600px) {
  .Section_2 {
  height: 150vh;
  background-color: rgb(19, 18, 18);
  display: grid;
  grid-template-columns: auto !important;
  grid-gap: 5px !important;
  padding: 5px;
  }
}

.project-link {
  text-decoration: none;
  color: white;
}


.Website_links > li > a {
  color: white;
}

 .Website_links, li, a {
  padding-top: 200px;  
  margin: 15px;
  padding-left: 100px;
  font-size: 20px;
  padding: 50px 100px 30px;
  list-style: none;
} 

.portfoli-weblinks {
  /* padding-top: 300px; */
  display: grid;
  grid-template-columns: auto auto auto !important;
  grid-gap: 10px !important;
  padding: 10px;
}

.birflow-picture {
  background-image: url('./images/birdflowpic.png');
  /* height: 300px;
  width: 450px; */
  background-size: cover;
  background-repeat: no-repeat;
}
.bluedale-picture {
  background-image: url('./images/bluedalepic.png');
  /* height: 300px;
  width: 450px; */
  background-size: cover;
  background-repeat: no-repeat;
}
.elomobile-picture {
  background-image: url('./images/elopic.png');
  /* height: 300px;
  width: 450px; */
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(146, 231, 242);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .8s ease;
  background-size: contain;
}

.container {
  position: relative;
  height: 50%;
}

.container:hover .overlay {
  width: 100%;
}

.project-button {
  width: 100px;
  height: 40px;
  position: relative;
  border: none;
  border-radius: 2px;
}

.project-link {
  position: absolute;
}



/* end of project section */


/* skills section / technologies */
.Section_3 {
height: 100vh;
background-color: aliceblue;
}
/* end of skills section / technologies */


.nav-link {
  text-decoration: none !important;
  border-bottom: 3px solid black;
  transition: border 300ms !important;
  -webkit-transition: border 400ms linear;
  -moz-transition: border 400ms linear;
  -ms-transition: border 400ms linear;
  -o-transition: border 400ms linear;
  color: black;
}

.nav-link:hover {
  border-bottom: 1px solid rgb(124, 74, 47) !important;
}

.link-bunch {
  margin-top: 20px;
}



/* about page */

.Asection_1 {
  height: 100vh;
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 50% 50%;
}


.Asection_2 {
  height: 100vh;
  background-color: black;
  display: grid;
  grid-template-columns: 50% 50%;
}

.OutsidePic {
    height: 550px;
    width: 400px;
    border-radius: 50%;
}

.GymPic {
    height: 600px;
    width: 350px;
    border-radius: 50%;
}

.Asect-2-paragraph {
  color: white;
}




/* end of about page */