
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

 * {
   font-family: 'Open Sans', Helvetica;
 }

.App {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  transition: background-color 1s ease;
}

.nav {
  width: 100%;
  padding-top: 10px; 
}

.nav ul {
  list-style: none !important;
  text-align: right;
}

.nav ul li {
  display: inline;
  font-size: 20px;
  margin-left: 35px;
  margin-right: 30px;

}


.snap {
  scroll-snap-align:start;
  
}

.Section_1 {
  height: 100vh;
  background-color: aliceblue;
  display: grid;
  grid-template-rows: 50% 50%;
}


.Section_2 {
height: 100vh;
background-color: rgb(19, 18, 18);
}


.Section_3 {
height: 100vh;
background-color: aliceblue;
}

.nav_link {
  padding: 5px;
}

.link-bunch {
  margin-top: 20px;
}


/* Website Link section */
.Website_links > li > a {
  color: white;
}

.Website_links, li, a {
  /* padding-top: 200px; */
  margin: 15px;
  padding-left: 100px;
  font-size: 20px;
  padding: 50px 100px 100px;
  list-style: none;
}

.portfoli-weblinks {
  /* padding-top: 300px; */
  display: flex;
  margin-top: auto;
}